.wrapper {
  display: block;
  overflow: hidden;
  background-color: #012;
  position: relative;
  cursor: pointer;
  transition: border-color 250ms;
  margin: 1px;
}

.image {
  background: #ccc;
  height: 250px;
  width: auto;
  background-repeat: no-repeat;
  transition: filter 250ms, transform 500ms;
  transform: scale(1.0);
  filter: blur(1px) saturate(0.25);
}

.name {
  background-color: #211119ee;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: -1px;
  right: -1px;
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: azure;
  transform: translateY(100%);
  filter: opacity(0.0);
  transition: transform 250ms, filter 500ms, background-color 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid indianred;
  margin: 0;
}

.active .image,
.wrapper:hover .image {
  filter: blur(0) saturate(1.0);
  transform: scale(1.05);
}

.active .name,
.wrapper:hover .name {
  transform: translateY(0%);
  filter: opacity(1.0);
}

.active .name {
  background-color: #cd5c5cee;
}

@media (min-width: 950px) {
  .name {
    top: 66%;
  }
}